<?xml version="1.0"?>
<robot name="sr_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="inertial_box" params="mass l w h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (h*h+l*l)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (w*w+l*l)}" iyz="0.0"
                    izz="${(1/12) * mass * (w*w+h*h)}" />
        </inertial>
    </xacro:macro>


    <xacro:macro name="inertial_cylinder" params="mass r h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (3*r*r + h*h)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (3*r*r + h*h)}" iyz="0.0"
                    izz="${(1/2) * mass * (r*r)}" />
        </inertial>
    </xacro:macro>

</robot>